{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">



    <title> Dropdown </title>
</head>
<body>



<form method="post" id="personForm" data-branches-url="{% url 'ajax_load_branches' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <label>Age:</label>
    <input type="age" placeholder="age" name="name" required><br><br>
    <label>Phone:</label>
    <input type="text" placeholder="mobile number" name="phone" required><br><br>
    <label>Email:</label>
    <input type="email" placeholder="email@gmail.com" name="email" required><br><br>
    <label>Gender:</label>
    <input type="radio"  name="gender" required>male
    <input type="radio"  name="gender" required>female<br><br>
    <label>DOB:</label>
    <input type="date"><br><br>
    <label>Address:</label>
    <input type="address" placeholder="address" name="address" required><br><br>
    <label>Account:</label>
    <select>
        <option>savings</option>
        <option>current</option>
    </select>
    <br><br>
    <label>Mterial provided:</label>
    <input type="checkbox">debit card
    <input type="checkbox">credit card
    <input type="checkbox">check book
    <br><br>
    <a href="{% url 'log' %}" button type="submit" onclick="alert">Logout</button></a>

    <input type="submit" value="Submit">

</form>
{% for msg in messages %}
    {{msg}}
    <br>
    <a href="{% url 'index' %}" button type="submit" onclick="alert">HOME PAGE</button></a>

{% endfor %}

    

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_district").change(function () {
        const url = $("#personForm").attr("data-branches-url");  // get the url of the `load_branches` view
        const districtId = $(this).val();  // get the selected district ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-branches/ )
            data: {
                'district_id': districtId       // add the district id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                console.log(data)
                $("#id_branch").html(data);  // replace the contents of the branch input with the data that came from the server 
              /*

                let html_data = '<option value="">---------</option>';
                data.forEach(function (branch) {
                    html_data += `<option value="${branch.id}">${branch.name}</option>`
                });
                console.log(html_data);
                $("#id_branch").html(html_data); 

             */
            }
        });

    });
</script>


</body>
</html>